# Ignore Jupyter Checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints/
*-checkpoint.ipynb
*__pycache__*
*subfolders.size*
*/subfolders.size
*/1
*/~
*1
*~
*/*.pth
*.pt
*.pth
*/build/
*build/
*/dist/
*dist/
*.egg-info/
*.mhd
*.raw
*.zraw
*/profile.*
*profile.*
*/*.pt
*/*~*

